body{margin: 0;
}
.menu{
    background-color: #243B93;
    display: flex;
    align-items:center;
    width: 100% ;
}
   a{
    text-decoration: none;
    color: #FFFFFF;
   }
    
.menu div{
    margin-left: 1%;
    width: 100%;
    height:auto;
    font-size: 16px;
    font-weight: 700px;
    text-align: center;
    letter-spacing: 0.16em;
    color:#FFFFFF; 
}

#logo{
margin-bottom: .3%;  
margin-right: 2%;
padding-top: .3%;
}
#globus{
    display: flex;
    margin-left: 5%;
    margin-right: 0%;
    align-items: center
}
#ua{
     margin-top: 5%;
     margin-left: 0;
     margin-right: 60%;
}
h1{
    background-color: #BFF0FF;
    width: 100%;
    height: 8%;
    padding-top: 2%;
    box-sizing: border-box;
    font-style: italic;
    padding-left: 2%;
    padding-bottom: 4%;
    margin-top: 0;
    font-weight: 400;
    font-size: 60px;
    color: #202846;
    margin: 0;
}

.pinkbackground{
    background-color: #efa5cf47;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.misceroztash{
    border: white 2px solid;
    width: 85%;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0px auto;
    color: #0000009C;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    }

    .bacota{
        position: relative;
        margin: 0  auto;
        display: flex;
        margin-top: 2%;
        width: 85%;
               
    }
    .bacota div{
        position: relative;
        background-color: #2CBDEB;
        padding-top: .5%;
        padding-bottom: .5%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .fotobacota{
        width: 40%;
    }
    .textbacota{
        position: absolute;   
        background-color: #EDFBFF;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        width: 59%;
        box-sizing: border-box;
                
    }
    .nazva{
        border-bottom: #FFFFFF 2px solid;
        color: #353C57;
        font-style: italic;
        font-weight: 700;
        font-size: 36px;
          }
    .fb{
        position: relative;
        width: 100%;
        height: auto; 
        padding-left: 2%;   
        padding-top: 2%;
        padding-bottom: 2%;  
    }
    #white{
        height: 67.38%;
        border: white 3px solid;
        background-color: #EDFBFF;
        padding: 1% 1% 2% 2%;
        
    }

.star1{
    position: absolute;
    right: -0.5%;
    bottom: 87%;
    font-size: 1.2vw;
    text-align: center;
    align-items: center;
    color: white;
    width: 5%;
    padding: 0.6%;

 }

.bacota:hover{
box-shadow: -10px 20px 40px -2px #2CBDEB;
        
            
}       
.bacota:hover .star1{
box-shadow: -10px 20px 40px -2px #f8e269;
        
        
    }
#knopka{
position: absolute;
right: -2.5%;
bottom: 3%;
font-size: 1.2vw;
text-align: center;
align-items: center;
color: white;
width: 22%;
padding: 0.6%;
border-radius: 1em;
background-color: rgba(36, 59, 147, 1);
border-radius: 30px;
 box-sizing: border-box;
padding: 0.45% 0% 1% 1.0%;
color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 24px;
    }
    .bacota:hover #knopka{
        box-shadow: -20px 20px 40px -2px #EF075B;
        background-color: #EF075B;
    }
.karpaty{
        display: flex;
        position: relative;
        margin: 0  auto;
        margin-top: 2%;
        width: 85%;
        margin-bottom: 3%;

}
.karpaty div{
        position: relative;
        background-color: #2CBDEB;
        padding-top: .5%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: .5%;
     
}
#white1{
    width: auto;
    height: 67%;
    border: white 3px solid;
    background-color: #EDFBFF;
    padding: 1% 1% 2% 2%;
  }
.textkarpaty{
        position: absolute;  
        background-color: #EDFBFF;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        padding-right: 2%;
        width: 59%;
        box-sizing: border-box;
}
.fotokarpaty{
    width: 40%;
}
.nazva2{
    border-bottom: #FFFFFF 2px solid;
    color: #353C57;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
      }

 .fk{
        position: relative;
        width: 100%; 
        height: auto;
        padding-left: 1%;   
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0 auto;

      }
      .karpaty:hover{
        box-shadow: -10px 20px 40px -2px #2CBDEB;
      }
      .karpaty:hover .star2{
        box-shadow: -10px 20px 40px -2px #f8e269;
       
      }
      .star2{
    position: absolute;
    right: -0.5%;
    bottom: 87%;
    font-size: 1.2vw;
    text-align: center;
    align-items: center;
    color: white;
    width: 5%;
    padding: 0.6%; 
    }

#knopka2{
position: absolute;
right: -2.5%;
bottom: 3%;
font-size: 1.2vw;
text-align: center;
align-items: center;
color: white;
width: 22%;
padding: 0.6%;
border-radius: 1em;
background-color: rgba(36, 59, 147, 1);
border-radius: 30px;
 box-sizing: border-box;
padding: 0.45% 0% 1% 1.0%;
color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 24px;
    }
    .karpaty:hover #knopka2{
        box-shadow: -20px 20px 40px -2px #EF075B;
        background-color: #EF075B;
    }
    .kiyv{
        display: flex;
        position: relative;
        margin: 0  auto;
        margin-top: 2%;
        width: 85%;
        margin-bottom: 3%;
    }
    .kiyv div{
        position: relative;
        background-color: #2CBDEB;
        padding-top: .5%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: .5%;
        }

    .nazva3{
    border-bottom: #FFFFFF 2px solid;
    color: #353C57;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    }

    #white3{
    width: auto;
    height: 67%;
    border: white 3px solid;
    background-color: #EDFBFF;
    padding: 1% 1% 2% 2%;
    }
    .textkiyv{
        position: absolute;  
        background-color: #EDFBFF;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        padding-right: 2%;
        width: 59%;
        box-sizing: border-box;
    }
    .fotokiyv{
        width: 40%;
    }
    .fkiyv{
        position: relative;
        width: 100%; 
        height: auto;
        padding-left: 1%;   
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0 auto;
    }
    .star3{
        position: absolute;
        right: -0.5%;
        bottom: 87%;
        font-size: 1.2vw;
        text-align: center;
        align-items: center;
        color: white;
        width: 5%;
        padding: 0.6%;
    }
    #knopka3{
        position: absolute;
        right: -2.5%;
        bottom: 3%;
        font-size: 1.2vw;
        text-align: center;
        align-items: center;
        color: white;
        width: 22%;
        padding: 0.6%;
        border-radius: 1em;
        background-color: rgba(36, 59, 147, 1);
        border-radius: 30px;
         box-sizing: border-box;
        padding: 0.45% 0% 1% 1.0%;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
    }
.kiyv:hover #knopka3{
    box-shadow: -20px 20px 40px -2px #EF075B;
    background-color: #EF075B;
}
.kiyv:hover .star3{
    box-shadow: -10px 20px 40px -2px #f8e269;
    
}
.kiyv:hover{
    box-shadow: -10px 20px 40px -2px #2CBDEB;
}
.odessa{
        display: flex;
        position: relative;
        margin: 0  auto;
        margin-top: 2%;
        width: 85%;
        margin-bottom: 3%;
}
.odessa div{
        position: relative;
        background-color: #2CBDEB;
        padding-top: .5%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: .5%;
}
.nazva4{
    border-bottom: #FFFFFF 2px solid;
    color: #353C57;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 3%;
}
#white4{
    width: auto;
    height: 68%;
    border: white 3px solid;
    background-color: #EDFBFF;
    padding: 1% 1% 2% 2%;
}
.tekstodessa{
    position: absolute;  
    background-color: #EDFBFF;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    padding-right: 2%;
    width: 59%;
    box-sizing: border-box;
}
.fotoodessa{
    width: 40%;
}
.fodes{
    position: relative;
    width: 100%; 
    height: auto;
    padding-left: 1%;   
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
}
.star4{
    position: absolute;
    right: -0.5%;
    bottom: 87%;
    font-size: 1.2vw;
    text-align: center;
    align-items: center;
    color: white;
    width: 5%;
    padding: 0.6%;
}
#knopka4{
position: absolute;
right: -2.5%;
bottom: 3%;
font-size: 1.2vw;
text-align: center;
align-items: center;
color: white;
width: 22%;
padding: 0.6%;
border-radius: 1em;
background-color: rgba(36, 59, 147, 1);
border-radius: 30px;
box-sizing: border-box;
padding: 0.45% 0% 1% 1.0%;
color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 24px;
}
.odessa:hover{
    box-shadow: -10px 20px 40px -2px #2CBDEB;
}
.odessa:hover .star4{
    box-shadow: -10px 20px 40px -2px #f8e269; 
     
}
.odessa:hover #knopka4{
    box-shadow: -20px 20px 40px -2px #EF075B;
    background-color: #EF075B; 
}

#top{
    position: fixed;
    top: 80%;
    left: 92%;
    bottom: 13%;
    width: 70px;
    height: 70px;
    background-color: rgba(48, 12, 106, 0.3);
    box-sizing: border-box;
    border-radius: 50%;
    padding-left: 1.3%;
    padding-top: .7%;
}
#top:hover{
text-align: center;
padding: 1.2% 1.7% 0 1.8%;
width: 90px;
height: 90px; 
background-color: rgba(48, 12, 106, 1);
box-sizing: border-box;
   
}

