.Allform{
    display: flex;
    flex-direction: row;
    
}
.Allform div {
justify-content: center;
align-items: center;
}

.BlockPict{
width: 45%;
margin: 0 9% 0 0;
}
.enterlogin{
    width: 55%;
}

body{
    background-color: #001124;
    margin: 0;
}
section{
    padding: 6.3% 1% 5% 1%;
}
.picturecomp{
    width: 100%;
    
}
.textLogin{
font-style: normal;
font-weight: 530;
font-size: 45px;
color: #FFFFFF;
font-style: normal;
letter-spacing: 2px;
}
.Email{
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #FFFFFF;

}
.EmailPassw{
color: #FFFFFF;
line-height: 19px;
padding: 0 0 1% 0;
}
input{
width: 360px;
height: 40px;
}
.bluetext{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #499FFE;
word-spacing: 4px;
}
a{
 text-decoration:#499FFE none; 
 }
 .color{
    color: #499FFE;
}
.whitetext{
color: #FFFFFF;
}
input[type="button"] {
width: 180px;
height: 45px;
background-color: #015FC7;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
font-style: normal;
font-weight: 700;
font-size: 20px;
}
    
