body{
    margin: 0;
    background-color: #212529;
}
.header{
    background-color: #212529;
    display: flex;
    justify-content: space-around;
    margin: 2% 0% 0% 0% ;
    

}
.header div{
    background-color: #212529;
     
}

.menu{
    display: flex;
    margin: 0 auto;
    list-style: none;
}
.menu li{
    background-color: #212529;
    white-space: break-spaces;
    cursor: pointer;
    padding: 3%;
    font-style: normal;
    font-weight: 600;
   font-size: 26px;
   color: #FFFFFF;
}

.menu li:hover{
    color: #FFB742;
}

#HireMe{
width: 120px;
height: 54px;
background: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 50px;

box-sizing: border-box;
font-weight: 700;
font-size: 18px;
display: flex;
align-items: center;
justify-content: center
}
#HireMe:hover{
    background-color: #FFB742;
    border: 2px solid #FFB742;
}

.Hi{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    margin-top: 10%;
}
#Bansal{
    color: #FFB742;
    text-decoration: underline;
}
.CreativeBig{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    color: #FFFFFF;
    margin-top: 2%;
}
.design{
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    margin-top: 3%;
}
.avatar{
    text-align: center;
    margin-top: 3%;
}
.progress{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}
.progress div{
width: 41%;
height: auto;
background-color: #292B2E;
margin: 0 1% 0 1%;

}
.progress div:hover{
    background-color: #FFB742;
   }
   

.five5{
    display: flex;
    padding: 1%;
    box-sizing: border-box;
}

.five5 div{
   padding-left: 10%;
   text-align: center;
   
}
.yellownumber{
    color: #FFB742;
    font-weight: 800;
    font-size: 35px; 
    box-sizing: border-box; 
}
.yellownumber:hover{
    color: black;
}

.whitetext{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
   }
   .whitetext:hover{
    color: black;
   }

.log{
    padding: .8%;
}

.vector{
    box-sizing: border-box;
    padding-top: 6%;
}
.hundred100{
    display: flex;
    padding: 1%;
    box-sizing: border-box;
}
.hundred100 div{
    padding-left: 10%;
    text-align: center;   
}
.fifteen50{
    display: flex;
    padding: 1%;
    box-sizing: border-box;
}
.fifteen50 div{
    padding-left: 10%;
    text-align: center;   
}
.who{
width: 155px;
height: 54px;
background:#292B2E;
border: 2px solid #292B2E;
border-radius: 50px;
padding: 1.4% .2% 1% 3.1%;
box-sizing: border-box;
font-weight: 700;
font-size: 18px;
color: #FFB742;
font-style: normal;
font-weight: 600;
font-size: 20px;
margin:0 0 1% 0%;
text-transform: uppercase;
}

.WhoIam{
    display: flex;
    padding: 1%;  
    margin: 2% 1% 1% 0;       
}

.about{
font-style: normal;
font-weight: 700;
font-size: 48px;
color: #FFFFFF;
}
.textKartik{
color: #D4D4D4;
padding: 2% 2% 2% 0;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
width: 85%;
}
.imgman{
    width: 45%;
}
.man{
    width: 100%;
}
   .bloktext{
    width: 54%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 3%;
    box-sizing: border-box;
}
#HireMe2{
    width: 120px;
    height: 54px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
}

    #HireMe2:hover{
        background-color: #FFB742;
        border: 2px solid #FFB742;
    }
    .myskills{
        display: flex;
        justify-content:space-around;
        margin: 1% 2% 0% 0;
        width: 100%;
    }
    
    
    .textskills{
        display: flex;
        flex-direction: column;
        text-align: left;
        box-sizing: border-box;
        width: 50%;  
    }

    .iconsAll{
        display: flex;
        flex-direction: column;
    }

    .iconsFirst{
        display: flex;
               
    }

    .iconsFirst div{
        background-color: #292B2E;
        width: 93px;
        height: 72px;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 2.0%;
        padding: 2% 0 0 2%;
    }
    .iconsSecond{
        display: flex;
    }
    .iconsSecond div{
        background-color: #292B2E;
        width: 91px;
        height: 70px;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 2.0%;
        padding: 2% 0 0 2%;
    }
    .iconsFirst div:hover{
        background-color: #FFB742;
    }

    .iconsSecond div:hover{
        background-color: #FFB742;
    }
    #HireMe3{
        width: 120px;
        height: 54px;
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-weight: 700;
        font-size: 18px;
        margin: 1% 0 6% 5%;

    }
    #HireMe3:hover{
        background-color: #FFB742;
        border: 2px solid #FFB742;
    }
.myworks{
width: 155px;
height: 54px;
background:#292B2E;
border: 2px solid #292B2E;
border-radius: 50px;
padding: 0.8% .2% 1% 0.8%;
box-sizing: border-box;
font-weight: 700;
font-size: 18px;
color: #FFB742;
font-style: normal;
font-weight: 600;
font-size: 20px;
margin:0 auto;
text-transform: uppercase;

    }
.skills{
    width: 155px;
    height: 54px;
    background:#292B2E;
    border: 2px solid #292B2E;
    border-radius: 50px;
    padding: 1.3% .2% 1% 1.8%;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    color: #FFB742;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin:0 0 1% 0%;
    text-transform: uppercase;
    }
    .FeaturedWorks{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
        text-align: center;  
        margin: 1.5% 0 4% 0;
    }
.All{
    display: flex;
    margin: 0 auto;
    justify-content: center;
   }

.All div{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    width: 180px;
    height: 40px;
    white-space: nowrap;
   text-align: center;
    margin: 0 0 2% 0;
    padding: 1% 1% 0 1%;
}
.All div:hover{
    background-color: #FFB742;
    color: #212529;
}
.manyblocks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% 
}
.block{
    width:21% ;
    flex-direction: column;
    padding: 1% 1% 1% 1%;
    margin: 0 0 1% 0%;
    justify-content: space-around;
   }

.test{
width: 185px;
height: 54px;
background:#292B2E;
border: 2px solid #292B2E;
border-radius: 50px;
padding: 0.8% .2% 1% 0.8%;
box-sizing: border-box;
font-weight: 700;
font-size: 18px;
color: #FFB742;
font-style: normal;
font-weight: 600;
font-size: 20px;
margin:0 auto;
text-transform: uppercase;
}
.WhatCustomer{
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    color: #FFFFFF;
    text-align: center;  
    margin: 1.5% 0 4% 0;
    }
.threeBlocks{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.threeBlocks div{
    width: 100% auto;
    background-color: #FFFFFF;
    margin: 2% 3% 3% 2%;
    border-radius: 2%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
   
}  
.fototext{
    display: flex;
   
} 
#profName1{
    line-height: 10px;  
}
#profName2{
    line-height: 10px;  
}
#profName3{
    line-height: 10px;  
}

#name1{
    font-weight: 700;
}
#name2{
    font-weight: 700;
}
#name3{
    font-weight: 700;
   
}

.fotoblocks{
    width: 100%;
}




.footer{
display: flex;
padding: 10% 0% 2% 2%;
background-color: #1C1C1C;
margin: 17% 0% 0% 0%;
    
}
.footer div{
    justify-content:stretch;
    width: 50%;
   
}
.yellow{
    color: #FFB742;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}
.Creative{
color: #D4D4D4;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 32px;
text-align: left;
}

.footblock {
color: #7B7B7B;
font-style: normal;
font-weight: 500;
font-size: 19px;
justify-content: space-around;
margin: 0% 1% 3% 0%;
flex-direction: column;


}
#whitefoot2{
color: #F5FBF2;
font-style: normal;
font-weight: 600;
font-size: 20px;
}
#whitefoot3{
color: #F5FBF2;
font-style: normal;
font-weight: 600;
font-size: 20px;  
}
#whitefoot4{
color: #F5FBF2;
font-style: normal;
font-weight: 600;
font-size: 20px; 
}
a:hover{
color: #FFB742;
}
a{
text-decoration: none;
color: #7B7B7B;
}
.footblock div:hover{
    color: #FFB742;
}
