.nav_my_ul{
display: flex;
justify-content: space-between;
padding: 20px 0;
box-sizing: border-box;
}
.nav-link_my1{
font-weight: 400;
font-size: 1rem;
margin-right: 40px;
}
.nav-link_my2{
font-weight: 400;
font-size: 1rem; 
padding-right: 10px;  
}
.nav_my_button{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 }
 .my_button{
    width: 7rem;
 }
 .carousel_my img{
    width: 100%;
    height: 300px;
 }
 .My_Center{
    margin-bottom: 5%;
}
.fs-1_my{
    font-size: 15%;
}
.container_cards_my{
   padding: 8% 0;
}
.container_cards_my>div{
   padding: 2% 3%;
   
}
.footer{
   width: 100%;
   height: 10rem;
   background-color: rgba(21, 2, 52, 0.898);
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer_text{
   color: white;
   margin: 0 auto;
}
.btn_my{
   width: 45%;
}
.badge_my{
   width: 4rem;
   height: 2rem;
   position: absolute;
   top: 3%;
   left: 75%;
     }