body {
    background-color:#F0FFF0;
}
.black {
    width: 300px;
    border-style:hidden;
    background-color: rgb(15, 15, 15);
    border-width: 10px;
    text-align: center;
    margin: 0px auto; 
    padding: 5px;
   }

.elips {
text-align: center;
width: auto;
 }

.vector {
position: absolute;
left: 13.0%;
right: 12.91%;
top: 7.5%;
bottom: 68.33%;

}

.text {color: white;
    text-transform: lowercase;
    letter-spacing: 10px;
    font-size: xx-large;
}

.login {
    border-style:solid;
    border-color:white;
    margin: 20px 20px;
    padding: 10px; 
}  

.sing {
    border-style:solid;
    border-color:white;
    margin: 20px 20px;
    padding: 10px; 
}



