body{
margin: 0;
background-color: #f3efef;
padding: 7% 8% 7% 10%;
}
.header{
color: #171717;
font-style: normal;
font-weight: 750;
font-size: 38px;
margin: 0 0 3% 0;
}
.Mandatory{
font-style: normal;
font-weight: 540;
font-size: 22px;
color: #171717;
word-spacing: 5px;
letter-spacing: 1px;
}
#ministar{
color: #D83933;
}
#ministar2{
color: #D83933;   
}
#ministar3{
color: #D83933;  
}
#ministarselect{
color: #D83933;
}
.Information{
font-style: normal;
font-weight: 800;
font-size: 32px;
color: #171717;
word-spacing: 5px;
letter-spacing: 1px;
}
.flex-box{
display: flex;
flex-direction: row;
justify-content:center;

}

.flex-box div{
width: 50%;
}

label{
display: inline-block;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
width: 100%;
}

select{
width: 562px;
height: 65px;
font-style: normal;
font-weight: 400;
font-size: 18px;
padding: 0 0 0 2%;
border: 1px rgb(177, 175, 175) solid;
border-radius: 4px;
box-sizing: border-box;

}
.Left-box{
display: flex;
justify-content: center;
flex-direction: column;

}
.Left-box div{
margin-bottom: 6%;
}
.Right-box{
display: flex;
flex-direction: column;
}

.Right-box div{
display: flex;
justify-content: center;
flex-direction: column;
margin: 0 0 6% 0;
}

input{
width: 550px;
height: 60px;
border-radius: 4px;
border: 1px rgb(177, 175, 175) solid;
}

input[type="text"]{
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-position: 530px 15px;
    border-radius: 4px;  
}
input[type="checkbox"]{
    height: 26px;
    width: 31px;

}
input[type="checkbox"]:checked{
    accent-color: #FF00FF;
}
.check{
    display: flex;
    align-items: center;
    justify-content: left;
    white-space: nowrap;
}
#check1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 26.5% 0 17.6% 0;  
}
.border-bottom{
    border-bottom:3px rgb(226, 223, 223) solid ;
    width: 100%;
    margin: 5% 0 3% 0;
}
.MaternityInformation{
font-style: normal;
font-weight: 800;
font-size: 32px;
color: #171717;
word-spacing: 5px;
letter-spacing: 1px;
}
.check3{
display: flex;
justify-content: center;
flex-direction: row;
margin: 5% 0 8% 0;    
}
.flex-box2{
display: flex;
flex-direction: row;
justify-content: center;
}
.flex-box2 div{
width: 50%;
}
.OfficialUse{
font-style: normal;
font-weight: 800;
font-size: 32px;
color: #171717;
word-spacing: 5px;
letter-spacing: 1px;
}
.flex-box3{
display: flex;
flex-direction: row;
justify-content: center;
}
.flex-box3 div{
width: 50%;    
}
.Left-box3 {
display: flex;
flex-direction: column;
justify-content: center;
}
.Left-box3 div{
margin-bottom: 4%;  
}
.Right-box3{
display: flex;
flex-direction: column;
}
.Right-box3 div{
margin-bottom: 4%;
}
input[type="search"]{
background-image:url(../img/backgroundlupa.svg);
background-repeat: no-repeat;
background-position: 510px 15px;
border-radius: 4px; 
}
.nowrap{
white-space: nowrap;
}
.SystemInformation{
font-style: normal;
font-weight: 800;
font-size: 32px;
color: #171717;
word-spacing: 5px;
letter-spacing: 1px;
}
.flex-box4{
display: flex;
flex-direction: row;
justify-content: center;
}
.flex-box4 div{
width: 50%;

}
.Left-box4{
display: flex;
flex-direction: column;
justify-content: center;
}
.Left-box4 div{
margin-bottom: 4%;  
}
.Right-box4{
display: flex;
flex-direction: column;

}
.Right-box4 div{
margin-bottom: 4%;
}


input[type="button"]{
background-color: #1200d8;
width: 72px;
height: 42px;
margin: 0 0 2% 84%;
padding: .8% 4% .8% 2%;
box-sizing: border-box;
border-radius: 4px;
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
}
#Enrollment{
margin: 1% 0 6% 0;
}