@keyframes Left_worlds {
   from{
      transform: translateX(-100vw);
   }
   to{
      transform: translateX(0vw);
   }
}
@keyframes Right_img {
   from{
      transform: translateX(100vw);
   }
   to{
      transform: translateX(0vw);
   }
}

body{
    margin:0;
    background-color: #000000;
 }
 .container_wrap{ 
    margin: 30px 50px;
 }
 .header{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
 }
 .Royal_Art{
   font-size: 4rem;
 }
 .Royal{
   color: #001FDB;
 }
 .nav{
   width: 45%;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 .nav_items{
   list-style: none;
   font-size: 1.7rem;
 }
 .button{
   color: white;
   font-size: 1.7rem;
   text-decoration: none;
   border: 1.3px solid white;
   width: 12rem;
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .container_main{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .container_main>div{
   width: 50%;
   line-height: 5rem;
 }
.img{
   width: 100%;
}
.img_anim{
  animation: Right_img 1s linear forwards;
}
.Khaqan_Mahmood{
   color: #FFFFFF;
   font-size: 4.1rem;
   animation: Left_worlds 1s linear forwards;
}
.blue_text_Khaqan_Mahmood{
   color: #001FDB;
   font-weight: 600;
}
.Graphic{
   color: #989398;
   font-size: 2.5rem;
   animation: Left_worlds 1.3s linear forwards;
}
.button2{
   color:#FFFFFF;
   text-decoration: none;
   font-size: 2rem;
  
}
.button2_anim{
   animation: Left_worlds 1.5s linear forwards;
}
.animate__backInLeft{
   animation: animate__bounce infinite;
}
.animate__rotateInDownLeft{
   animation: animate__rubberBand infinite;
}
.animate__rotateInDownRight{
   animation: animate__flip infinite;
}
.animate__backInRight{
   animation: animate__backInRight infinite;
}
.animate__bounceIn{
   animation: animate__backInRight infinite; 
}