body{
    margin: 0px;
}
h1 {
    text-align: center; 
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    font-style: normal;
  
}
.strong{
    color: #3E45E8 ;
}
.UKRAINE{
    color: #E8C23E;
}
.ukr{
    background-image: url(../img/FON.png); 
    width: 100%;
    background-size: contain;
    padding-left: 5%;
    padding-bottom: 25%; 
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 37px;
   
   
   word-spacing: 8px;
   letter-spacing: 1px;
   font-weight: bold;
   text-align: left;
   line-height: 72px;
   margin-bottom: 5%;
}

.pr{
   
    float: left;
    padding-left: 10px;
    padding-top: 200px;
}

.textukr{
    padding-left: 100px;
    padding-top: 200px; 
}
h2{
    padding-left: 110px;
    padding-bottom: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

#praporgorizont{
    height: 20px;
   
}
.mistaukr{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100% auto;
}
.mistaukr div{
    width: 33.3% auto;
    height: auto;
    margin: 4% 5% 0 5%;
    border-style: solid;
    border-width: 5px;
    border-color: #0D095F;
    border-radius: 10%;
    box-sizing: content-box;
    }

.bluetext{
    color: #0072DB;
   font-weight:bolder;
   font-size: 25px;
   padding-left: 10px;
   font-style: normal;
   letter-spacing: 2%;
}
.yellowtext{
    color: #FF9900;
    font-weight: 500px;
    font-size: 21px;
    line-height: 120%;
    padding-left: 10px;
    letter-spacing: 1%;
}
.tystan{
    box-shadow: -30px 20px 30px -2px #abe9eb;
}
.luck{
    box-shadow: 3px 15px 30px 3px #abe9eb;
}
.kamyana{
    box-shadow: 30px 20px 30px 2px #abe9eb;
} 
.nashaukr{
    text-align: center;
    margin-top: 100px;
}
.polosa{
    width: 50%;
    border-bottom:#1400FF 10px solid ;
    padding-bottom: 5px;
    margin: 0 auto;
    
}
.ukraine{
    width: 70%;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 60px;
}
.go{
    background-color: #2A61F0;
    width: 499px;
    height: 81px;
    margin: 0 auto;
    margin-top: 4%;
    border-radius: 50px;
    text-align: center;
    padding-top: 1.2%;
    margin-bottom: 5%;
    font-size: 50px;
    text-transform: uppercase;
}
.textgo{
    color: white;
    text-decoration: none;
  }
  .footer{
    background-color:#0D0661;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    box-sizing: border-box;
    width: 100% auto;
    height: 233px; 
    line-height: 1.5;  
  }
  .strong2{
    margin-top: 5%;
    color: #3E45E8;
    text-align: center;
    padding-top: 8%;
    padding-left: 40%;
    font-weight: 400;
    font-size: 48px;
    padding-right: 20px;
  }

  .UKRAINE2{
    margin-top: 5%;
    color: #DFE31E;
    text-align: center;
    padding-top: 1%;
    font-weight: 400;
    font-size: 48px;
  }
  .mail{
    color: #A89D9D;
    font-size: 30px;
    padding-left: 39.5%;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
     }
     .tel{
        color: #A89D9D;
        font-size: 30px;
        padding-left: 45%;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: uppercase;  
     }
.socmeregi{
    padding-left: 2%;
    margin-bottom: 1%;
   }
   .znachki{
    margin-left: 46.5%;
    margin-top: .3%;
   }