@font-face{
font-family: "Rosario";
src: url(/fonts/Rosario-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Volkhov;
    src: url(/fonts/Volkhov-Regular.ttf);
}
@keyframes img-one-left {
    from {transform: translateX(-100vw);
    }
   to {
transform: translateX(0);
}
}
@keyframes img-one-right {
    from {transform: translateX(100vw);
    }
   to {
transform: translateX(0);
}
}
@keyframes img-two-left {
    from {transform: translateX(-100vw);
    }
   to {
transform: translateX(0);
}
}
@keyframes img-two-right {
from {transform: translateX(100vw);
    }
   to {
transform: translateX(0);
}
}
@keyframes HairStyling_animation{
    from,
    to {
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 0;
    }
}
@keyframes BeardTrimming_animation{
    from,
    to{
        top: 0;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 0;
    }
    75%{
        top: 0;
        left: 0;
    }
}

@keyframes SmoothShave_animation{
    from,
    to{
        top:50%;
        left:0;
    }
    25%{
        top:0%;
        left:0%;
    }
    50%{
        top:0;
        left:50%;
    }
    75%{
        top:50%;
        left:50%;
    }
}

@keyframes HairStraightening_animation{
    from,
    to{
        top: 50%;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 0%;
    }
    50%{
        top:0;
        left: 0;
    }
    75%{
        top: 0;
        left: 50%;
    }
}
@keyframes animat_name{
    from{
        transform: translateY(100%);
    }
    to{ 
        transform:translateY(0%) ;
      
    }
}

body{
    margin:0;
}

html{
    font-family:Rosario;
    font-size: 10px;
   
}
div[class*="screen"]{
    background-color: #FFFFFF;
    min-height: 90vh;
}
.header{
    width: var(--size);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
   
}
main{
    width: var(--size);
}

.nov a{
    display: block;
    padding: 10px 0;
}

a{
    text-decoration: none;
    color: #FFFCFC;
}

.nov{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 64%;
    padding: 0% 3%;
   }

.nov .nov_items{
    flex-grow: 1;
    text-align: right;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
}

.nov *{
    box-sizing: border-box;
}

.header_logo img{
    width: 100%;
    height: 10vh;
}

.ALL_container{
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   padding: 1% 4% 2% 4%;
  }
  .ALL_container img{
    padding: 5%;
    box-sizing: border-box;
  }
.container1{
    display: flex;
    flex-direction: column;
    animation: img-one-left 2s linear forwards;
   
 }
 
 .container1 img{
    width: 100%;
 }

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    animation: img-two-left 1s linear forwards;
   
   }

.container2 img{
width: 100%;
}

.container3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    animation: img-two-right 1s linear forwards;
}

.container3 img{
    width: 100%;
   }

   .container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    animation: img-one-right 2s linear forwards;
   
}

.container4 img{
width: 100%;
}

.screen-2{
display: flex;

}

.ALL_container2{
width: 50%;
display: flex;
position: relative;
padding: 50px 0 10px 0;
box-sizing: border-box;

}

.ALL_container2>div{
width: 30%;
text-align: center;
position: absolute;
font-weight: 700;
font-size: 3.5rem;
line-height: 5rem;
align-items: center;
}


#BigMan{
background-image: url(/image/2/pexels-cottonbro-3998389\ 1.png);
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
width: 50%;

}

.HairStyling{
top: 0;
left: 0;
animation: HairStyling_animation 11s linear infinite;
}

.BeardTrimming{
top: 0;
left: 50%;
animation: BeardTrimming_animation 11s linear infinite;
}

.SmoothShave{
top: 50%;
left: 0;
animation: SmoothShave_animation 11s linear infinite;
}

.HairStraightening{
top: 50%;
left: 50%;
animation: HairStraightening_animation 11s linear infinite;
}

.HairStyling_img img{
    width: 100%;
}
.BeardTrimming_img img{
    width: 100%;
}
.SmoothShave_img img{
    width: 100%;
}
.HairStraightening img{
    width: 100%;
}
.AllTeam{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.AllTeam>div{
    border-radius: 40px;
    width: 20%;
    height: 68vh;
} 
h2{
font-style: normal;
font-weight: 700;
font-size: 75px;
text-align: center;
margin-bottom: 2rem 0;

}
.Meredith{
   background-image: url(/image/3/Meredith.png);
   background-size: cover;
   background-position: center;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: flex-end; 

}
.Jason{
  background-image: url(/image/3/Jason.png);
  text-align: center;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.Ryan{
  background-image: url(/image/3/Ryan.png);
  text-align: center;
  background-size:cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.James{
  background-image: url(/image/3/James.png);
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  }
.name{
width: 100%;
height: 23%;
background-color: #A3530AB2;
border-radius: 0 0 40px 40px;
color: #FFFAFA;
font-family: "Volkhov";
font-size: 48px;
box-sizing: border-box;
padding: 20px;
justify-content: center;
text-align: center;
display: none;
}

.AllTeam:hover > div{
    filter: brightness(.5);
}
.AllTeam div:hover{
    filter: none;
}

.AllTeam div:hover .name{
    display: block;
}
.screen-4{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.All_blocks{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
border: none;
}
.Get_in_tabl{
width: 52%;
margin-left: 3rem;
margin-right: 3rem;
}

.tabl{
background-color: #E5E5E5;
color: #00000080;
font-family: "Rosario";
font-style: normal;
font-weight: 700;
font-size: 36px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
border: none;

}
.Name .Email{
    width: 50%;
}
input{
    width: 35rem;
    height: 4rem;
    padding: 6px 0px 5px 15px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgba(0, 0, 0);
    margin: 1rem;
   
}

textarea{
    width: 100%;
    margin: 2rem 0 .5rem 0;
    padding: 5px 20px 0 20px;
    box-sizing: border-box;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6rem;
    color: rgba(0, 0, 0);
}

.textarea{
    width: 96.5%; 
}

h3{
font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 7rem;
line-height: 78px;
text-align: center;
margin-top: 0;
margin-bottom: 2rem;
}
.map{
width: 50%;
height: 56vh;
}
.map iframe {
width: 100%;
height: 100%;
border: none;
}
.Contacts{
display: flex;
justify-content: space-around;
text-align: center;
}
.footer{
padding-top: 4rem;
padding-left: 5rem;
display: flex;
justify-content:center;
text-align: center;
color: #000000;
font-weight: 700;
font-size: 30px;
line-height: 36px;
width: var(--size);
}

.Headquarters{
white-space: pre-line;
}

.One{
justify-content:space-between;
text-align: center;
}
.Opening_Hours{
white-space: pre-line;
margin: 0 50px;
}

.footer a{
color: #000000;
}

.connect_items{
list-style: none;
}
.connect{
    text-align: left;
}
.font_norm{
    font-family:"Rosario-Bold";
    font-style: normal;
}

@media screen and (max-width:768px) {

 .header, main, .footer, .ALL_container2{
        width: 100%;
    }
    body{
        font-size: 1rem;
    }
    .header{
        justify-content: flex-start;
        font-size: 0.1rem;
        padding-left: 3px;
        box-sizing: border-box;
        height: auto;
    }
   .nov a{
    font-size: 1.5rem;
   }
    .ALL_container{
        height: auto;
        display: block;
    }
    .ALL_container2{
        height: auto;
        display: block;
        margin: 0 auto;
    }
    #boy_big{
        padding: 5% 23% 3% 23%;
    }
    .container2_img2, .container3_img2, .container4{
        animation: img-one-left 2s linear forwards;
    }
.container2_img1{
    animation:img-two-right 2s linear forwards ;
}
.container2{
    flex-direction: column;
}
    
#BigMan{
        background-image: none;
        width: 0%;
        height: 0%;   
    }
    
    .nov .nov_items{
        padding: 0 1%;      
    }

    .AllTeam{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;    }
    .Meredith, .James, .Jason, .Ryan{
        width: 100%;
   }
   .AllTeam div{
    transition:  ease-in;
   }
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    margin: 0 auto;
    line-height: 6rem;
}
      .AllTeam>div{
        width: 55%;
        height: 68vh;
        margin-top: 30px;
        font-size: 2rem;
    }
    
    .AllTeam div:hover .name{
        display: none; 
    }
    
    .AllTeam div:active .name{
        display: block;
        animation: animat_name 1s ease-in forwards;
     }
    
    div[class*="screen"]{
        height: auto;
    }
    .screen-4{
     flex-direction: column;
      }
    .All_blocks{
        flex-direction: column-reverse;
        }
    .Three, .Map{
        text-align: center;
    }
    iframe{
        width: 90%;
        height: auto;
    }
    .Get_in_tabl{
        flex-wrap: wrap;
        text-align: center;
        width: 80%;
        margin:0 auto;
       
    }
    .tabl{
        max-width: 90%;
        flex-wrap: wrap; 
        flex-direction: column;
        font-weight: 3rem;
        margin: 0 auto;
       

    }
    .footer{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: 2rem;
        margin: 0 auto;
    }
    .connect{
        text-align: center;
    }
    input{
        width: 90%;
    }
    
}      

@media screen and (min-width:769px) and (max-width: 992px) {
    
div[class*="screen"]{
    height: auto;
    }
.header{
    justify-content: flex-start;
} 
.nov_items{
    font-size: .1rem;
    font-weight: 50;
    padding-left: 10px;
    box-sizing: border-box;
    flex-wrap: wrap; 
    flex-direction: column;
}
.nov a{
    font-size: 2.5rem;
   }
.ALL_container{
    flex-wrap: wrap;
    flex-direction: row;
 }
 .ALL_container img{
    width: 100%;   
 }
 .container1, .container4{
    order: 2;
    flex-direction: row;
}
.container2 img{
width: 37rem;
height: 35rem;
}
.container2{
    order: 1;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container3 img{
    width: 37rem;
    height: 35rem;
}
.container3{
    order: 3;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container2_img1, .container3_img1{
    animation: img-one-left 2s linear forwards;
}
.container2_img2, .container3_img2{
    animation: img-one-right 2s linear forwards;  
}

.screen-2{
flex-wrap: wrap;
flex-direction: column;
height: auto;
}
.ALL_container2>div{
font-size: 3rem;
line-height: 3rem;
font-weight: 400;
}
div#BigMan{
order: 1;
width: 80%;
height: 70vh;
align-items: center;
background-size:cover;
background-position: center;
margin: 0 auto;
}
.ALL_container2{
order:2;
margin: 0 auto;
width: 100%;
height: 70vh;  
}
.screen-3{
display: flex;
flex-direction: column;
height: auto;
}
.AllTeam{
justify-content:space-evenly;
align-items: center;
height: auto;
flex-wrap: wrap;
 margin: 0;
}
.AllTeam>div{
width: 35%;
height: 50vh;
background-position: center;
background-size: cover;
margin-top: 10px;
}
h2{
font-size: 4rem;
}
.Meredith, .Ryan{
animation: img-one-left 2s linear forwards;
}
.James, .Jason{
animation: img-one-right 2s linear forwards;
}
h3{
font-size: 4rem;
line-height: 50px;
}
.Get_in_tabl{
width: 60%;
}
input{
width: 45%;
}
.footer{
display: flex;
flex-direction: column;
margin: 0 auto;
}
.Three{
text-align: center
}
.connect{
text-align: center;
}
.AllTeam div:hover .name{
display: none; 
}
.AllTeam div:active .name{
display: block;
animation: animat_name 1s ease-in forwards;
 }
 
}
@media screen and (min-width: 1620px){
     
    .header, main, .footer{
        margin: 0 auto;
    }
}