body{
background-color: #FFB084; 
font-family: 'Work Sans';     
}
.margin{
max-width: 90%;
padding: 20px;   
margin: 0 auto;
}
.white_fon{
background-color: #FFFFFF;
}
.container{
margin-top: 2%;
margin-bottom: 2%;  
display: grid;
grid-template-columns: repeat(3, 27vw);
grid-template-rows: repeat(9, 5vh);
gap: 5vh 3vw;
}
.Johnny_McLonny{
    grid-row: 1/8;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   box-shadow: 12px 12px 0 3px black;
   border-radius: 20px;
   line-height: 48px;
   font-size: 18px;
}
.div_with_img{
    width: 151px;
    height: 151px;
    margin: 0 auto;
}
.img_Johnny{
    width: 100%;
    height: auto;
}
.I_want{
    grid-row-start: 8;
    grid-row: 8/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 0 2px black;
    border-radius: 20px;
    font-size: 25px;
    line-height: 28px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 15px 35px;
}
.Bio{
    grid-column: 2/-1;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 0 75px 25px 55px;
    box-shadow: 10px 10px 0 2px black;
    border-radius: 20px;
    font-size: 21px;
}
.Goals{
    grid-row: 3/6;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 0 45px 25px 40px;
    box-shadow: 10px 10px 0 2px #29A71E;
    border-radius: 20px;
    font-size: 21px;
    line-height: 28px;
}
.Dream_companies{
    grid-row-start: 7; 
    grid-column-start: 2;
    grid-row: 6/-1; 
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 0 45px 25px 40px;
    box-shadow: 10px 10px 0 2px #3675B0;
    border-radius: 20px;
    font-size: 21px;
    line-height: 28px;
}
.Frustrations{
    grid-row: 3/7; 
    display: flex;
    align-items: flex-start;
    justify-content: left;
    box-sizing: border-box;
    padding: 0 45px 25px 40px;
    box-shadow: 10px 10px 0 2px #E13535;
    border-radius: 20px;
    font-size: 21px;
    line-height: 30px;
}

.Personality{
    grid-row: 7/-1;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 0 45px 25px 40px;
    box-shadow: 10px 10px 0 2px black;
    border-radius: 20px;
    font-size: 21px;
    line-height: 28px;
}
h1{
font-weight:900;
font-size: 44px;
line-height: 28px;
margin-top: 43px;
}
h3{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
}
.green{
  color: #29A71E;  
}
.red{
    color: #E13535;
}
.blue{
    color: #3675B0;
}
.pre_line{
    white-space: pre-line;
}
.bold{
    font-weight: bolder;
}
