body{
background-color:#001124;
margin: 0;
}
.AllRegistration{
display: flex;
flex-direction: row;

}
.AllRegistration div{
justify-content: center;
align-items: center;
}

.textRegistrationform{
color: #FFFFFF;
font-style: normal;
font-weight: 600;
font-size: 55px;
letter-spacing: 2px;

}
.figure{
width: 45%;
margin: 2% 10% 2% 1%;
padding: 2% 1% 1% 1% ;
}
section{
padding: 7% 4% 13% 5%;
}
.img{
width: 100%;
}
input{
width: 430px;
height: 50px;
}
.long{
color: #FFFFFF;
padding: 0 0 2.0% 0;
font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 29px;
}

input[type="submit"]{
    width: 180px;
    height: 43px;  
    background-color: #015FC7; 
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SUBMIT{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.5% 6% 0 0; 
}